﻿@model Cooperchip.ITDeveloper.Domain.Models.EstadoPaciente

@{
    ViewData["Title"] = "Novo estado paciente";
}

<div class="panel panel-info panel-controls">
    <div class="panel panel-heading">
        <h3>Lista de Estado dos Pacientes</h3>
    </div>
    <div class="panel panel-body">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Descricao" class="control-label"></label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-controller="EstadoPaciente" asp-action="Index">Voltar a lista</a>
    </div>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
