﻿@model IEnumerable<Cooperchip.ITDeveloper.Domain.Models.EstadoPaciente>

@{
    ViewData["Title"] = "Lista de Estado dos Pacientes";
}

<div class="panel panel-info panel-controls">
    <div class="panel panel-heading">
        <h3>Lista de Estado dos Pacientes</h3>
    </div>
    <div class="panel panel-body">
        <p>
            <a class="btn btn-info" asp-controller="EstadoPaciente" asp-action="Create"><i class="fa fa-plus-circle">&nbsp;Novo Estado Paciente</i></a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
