﻿@model Cooperchip.ITDeveloper.Mvc.ViewComponents.Helpers.ContadorEstadoPaciente

<div class="@Model.ClassContainer">
    <!-- Start .panel -->
    <div class="panel-heading">
        <h4 class="panel-title">@Model.Titulo</h4>
    </div>
    <div class="panel-body pt0">
        <div class="progressbar-stats-1">
            <div class="stats">
                <i class="@Model.IconeLg"></i>
                <div class="stats-number" data-from="0" data-to="@Model.Parcial">0</div>
            </div>
            <div class="progress animated-bar flat transparent progress-bar-xs mb10 mt0">
                <div class="progress-bar progress-bar-white" role="progressbar" data-transitiongoal="@Model.Progress"></div>
            </div>
            <div class="comparison">
                <p class="mb0"><i class="@Model.IconeSm"></i>@Model.Percentual sobre o total.</p>
            </div>
        </div>
    </div>
</div>