﻿@{
    ViewData["Title"] = "Pacientes";
}

<partial name="PartialViews/_estado_paciente" />


<div class="panel panel-default panel-controls">
    <div class="panel panel-heading">
        <h3>Estatisticas e Marcadores em tempo Real</h3>
    </div>
    <div class="panel panel-body">


        <!-- / .row -->
        <div class="row">
            <!-- Start .row -->
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <!-- col-lg-8 start here -->
                <div class="col-lg-9 col-sm-9 col-xs-12 p0">
                    <!-- col-lg-9 start here -->
                    <div class="panel panel-default plain btrr0 bbrr0 panelRefresh" data-mh="payments">
                        <!-- Start .panel -->
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="fa fa-dollar"></i> Payment received</h4>
                        </div>
                        <div class="panel-body">
                            <div id="line-chart-payments" style="width: 100%; height:250px;"></div>
                        </div>
                    </div>
                    <!-- End .panel -->
                </div>
                <!-- col-lg-9 end here -->
                <div class="col-lg-3 col-sm-3 col-xs-12 p0">
                    <!-- col-lg-3 start here -->
                    <div class="panel panel-default tile btlr0 bblr0" data-mh="payments">
                        <!-- Start .panel -->
                        <div class="panel-body">
                            <div class="spark clearfix">
                                <div class="spark-info mb0">
                                    <span class="number stats-number money s32" data-from="0" data-to="12857">0</span>
                                </div>
                                <div class="spark-info mtm5">Total income</div>
                            </div>
                            <div class="spark clearfix">
                                <div class="spark-info mb0">
                                    <span class="number stats-number money s32 color-gray-light" data-from="0" data-to="4578"></span>
                                </div>
                                <div class="sparkline spark-payments mt0"></div>
                                <div class="spark-info">Credit Card</div>
                            </div>
                            <div class="spark clearfix">
                                <div class="spark-info mb0">
                                    <span class="number stats-number money s32 color-gray-light" data-from="0" data-to="5241"></span>
                                </div>
                                <div class="sparkline spark-payments mt0"></div>
                                <div class="spark-info">Pay Pal</div>
                            </div>
                            <div class="db per100">
                                <a href="#" class="btn btn-info ml20 mt5">Details</a>
                            </div>
                        </div>
                    </div>
                    <!-- End .panel -->
                </div>
                <!-- col-lg-3 end here -->
            </div>
            <!-- col-lg-8 end here -->
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <!-- col-lg-4 start here -->
                <div class="panel panel-default plain">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="glyphicon glyphicon-user"></i> Customer experience</h4>
                    </div>
                    <div class="panel-body">
                        <div class="text-center">
                            <div id="customer-exp" class="custom-progressbar blue" style="width:244px;height:244px;">
                                <div class="percent">
                                    80<span>%</span>
                                </div>
                                <div class="description">satisfaction</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End .panel -->
            </div>
            <!-- col-lg-4 end here -->
        </div>
        <!-- End .row -->
        <div class="row">
            <!-- Start .row -->
            <div class="col-lg-8 col-md-12">
                <!-- col-lg-8 start here -->
                <div class="row">
                    <!-- Start .row -->
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <!-- col-lg-6 start here -->
                        <div class="col-lg-6 col-sm-6 p0">
                            <!-- col-lg-6 start here -->
                            <div class="panel tile panelRefresh">
                                <!-- Start .panel -->
                                <div class="panel-heading">
                                    <h4 class="panel-title"></h4>
                                </div>
                                <div class="panel-body p0">
                                    <div class="weather snow">
                                        <div class="degree color-red">-5&deg;</div>
                                        <div class="location pb15"><i class="l-basic-geolocalize-01"></i> Varna</div>
                                        <div class="icon">
                                            <canvas id="weather-now" width="96" height="96"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End .panel -->
                        </div>
                        <!-- col-lg-6 end here -->
                        <div class="col-lg-6 col-sm-6 p0">
                            <!-- col-lg-6 start here -->
                            <div class="panel tile btlr0 bblr0 mb0">
                                <!-- Start .panel -->
                                <div class="panel-heading">
                                    <h4 class="panel-title"></h4>
                                </div>
                                <div class="panel-body p0">
                                    <div class="row weather no-padding">
                                        <!-- Start .row -->
                                        <div class="col-md-5 col-sm-5 text-center red-bg">
                                            <canvas class="mt15" id="weather-monday" width="64" height="64"></canvas>
                                            <h5 class="uppercase strong color-white">Monday</h5>
                                        </div>
                                        <div class="col-md-7 col-sm-7 text-center">
                                            <div class="degree color-red">-2&deg;</div>
                                            <p class="text-muted uppercase s12">forecast</p>
                                        </div>
                                    </div>
                                    <!-- End .row -->
                                </div>
                            </div>
                            <!-- End .panel -->
                            <div class="panel tile btlr0 bblr0 mb0">
                                <!-- Start .panel -->
                                <div class="panel-heading">
                                    <h4 class="panel-title"></h4>
                                </div>
                                <div class="panel-body p0">
                                    <div class="row weather no-padding">
                                        <!-- Start .row -->
                                        <div class="col-md-5 col-sm-5 text-center blue-bg">
                                            <canvas class="mt15" id="weather-tuesday" width="64" height="64"></canvas>
                                            <h5 class="uppercase strong color-white">Tuesday</h5>
                                        </div>
                                        <div class="col-md-7 col-sm-7 text-center">
                                            <div class="degree color-blue">0&deg;</div>
                                            <p class="text-muted uppercase s12">forecast</p>
                                        </div>
                                    </div>
                                    <!-- End .row -->
                                </div>
                            </div>
                            <!-- End .panel -->
                        </div>
                        <!-- col-lg-6 end here -->
                    </div>
                    <!-- col-lg-6 end here -->
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <!-- col-lg-6 start here -->
                        <div class="panel panel-default plain toggle panelClose panelRefresh">
                            <!-- Start .panel -->
                            <div class="panel-heading">
                                <h4 class="panel-title"><i class="l-basic-target"></i> Montly Sales Goals</h4>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <!-- Start .row -->
                                    <div class="col-md-6">
                                        <ul class="list-unstyled" style="margin-bottom:13px;">
                                            <li class="mb15">
                                                <p class="strong mb0">
                                                    Shirts <span class="text-muted pull-right small">100 of 200 sold</span>
                                                </p>
                                                <div class="progress animated-bar progress-bar-sm flat mt0">
                                                    <div class="progress-bar progress-bar-primary" role="progressbar" data-transitiongoal="50"></div>
                                                </div>
                                            </li>
                                            <li class="mb15">
                                                <p class="strong mb0">
                                                    Shoes <span class="text-muted pull-right small">150 of 200 sold</span>
                                                </p>
                                                <div class="progress animated-bar progress-bar-sm flat mt0">
                                                    <div class="progress-bar progress-bar-danger" role="progressbar" data-transitiongoal="75"></div>
                                                </div>
                                            </li>
                                            <li class="mb15">
                                                <p class="strong mb0">
                                                    Watches <span class="text-muted pull-right small">25 of 200 sold</span>
                                                </p>
                                                <div class="progress animated-bar progress-bar-sm flat mt0">
                                                    <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="12"></div>
                                                </div>
                                            </li>
                                            <li>
                                                <p class="strong mb0">
                                                    Coats <span class="text-muted pull-right small">195 of 300 sold</span>
                                                </p>
                                                <div class="progress animated-bar progress-bar-sm flat mt0">
                                                    <div class="progress-bar progress-bar-success" role="progressbar" data-transitiongoal="66"></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="text-center">
                                            <div id="sales-goal" class="custom-progressbar green pull-left mr15" style="width:150px;height:150px;">
                                                <div class="percent">470</div>
                                                <div class="description s14">of 900 sold</div>
                                            </div>
                                        </div>
                                        <div class="custom-progressbar-legend text-center">
                                            <p class="text-left"><span class="strong">65%</span> Sold</p>
                                            <p class="text-left"><span class="strong">35% </span> Left</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End .row -->
                            </div>
                        </div>
                        <!-- End .panel -->
                    </div>
                    <!-- col-lg-6 end here -->
                </div>
                <!-- End .row -->
                <div class="row">
                    <!-- Start .row -->
                    <div class="col-lg-12">
                        <!-- col-lg-12 start here -->
                        <div class="col-lg-4 col-md-6 p0">
                            <!-- col-lg-4 start here -->
                            <div class="panel panel-default tile btrr0 bbrr0" data-mh="sales-locations">
                                <!-- Start .panel -->
                                <div class="panel-heading">
                                    <h4 class="panel-title"><i class="glyphicon glyphicon-list-alt"></i> Latest Sales</h4>
                                </div>
                                <div class="panel-body pt0">
                                    <ul class="list-unstyled mb0">
                                        <li class="mb5 pb5 bbdashed">
                                            <span class="strong">New Your:</span> order
                                            <span class="color-red">#345675</span> - 176$
                                        </li>
                                        <li class="mb5 pb5 bbdashed">
                                            <span class="strong">Vancuver:</span> order
                                            <span class="color-red">#345674</span> - 56$
                                        </li>
                                        <li class="mb5 pb5 bbdashed">
                                            <span class="strong">London:</span> order
                                            <span class="color-red">#345673</span> - 12$
                                        </li>
                                        <li class="mb5 pb5 bbdashed">
                                            <span class="strong">Barcelona:</span> order
                                            <span class="color-red">#345672</span> - 34$
                                        </li>
                                        <li class="mb5 pb5 bbdashed">
                                            <span class="strong">Moskva:</span> order
                                            <span class="color-red">#345671</span> - 15$
                                        </li>
                                        <li class="mb5 pb5">
                                            <span class="strong">Tokio:</span> order
                                            <span class="color-red">#345669</span> - 67$
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End .panel -->
                        </div>
                        <!-- col-lg-4 end here -->
                        <div class="col-lg-8 col-md-6 p0">
                            <!-- col-lg-8 start here -->
                            <div class="panel panel-default plain panelRefresh btlr0 bblr0" data-mh="sales-locations">
                                <!-- Start .panel -->
                                <div class="panel-heading">
                                    <h4 class="panel-title"><i class="fa l-basic-geolocalize-01"></i> Last sales locations</h4>
                                </div>
                                <div class="panel-body p0">
                                    <div id="world-map" style="width: 100%; height: 250px"></div>
                                </div>
                            </div>
                            <!-- End .panel -->
                        </div>
                        <!-- col-lg-8 end here -->
                    </div>
                    <!-- col-lg-12 end here -->
                </div>
                <!-- End .row -->
            </div>
            <!-- col-lg-8 end here -->
            <div class="col-lg-4 col-md-12">
                <!-- col-lg-4 start here -->
                <div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="fa fa-comments"></i>Customer Comments</h4>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group recent-comments">
                            <li class="list-group-item clearfix comment-success">
                                <div class="avatar pull-left mr15">
                                    <img src="img/avatars/2.jpg" alt="avatar">
                                </div>
                                <p class="text-ellipsis"><span class="name strong">Ben Simpson: </span> Very happy with your support is really great, keep that quality.</p>
                                <span class="date text-muted small pull-left">Dec 18, 2014, 4:24 pm</span>
                                <a href="#" class="see-more small pull-right">View comment</a>
                            </li>
                            <li class="list-group-item clearfix comment-default">
                                <div class="avatar pull-left mr15">
                                    <img src="img/avatars/3.jpg" alt="avatar">
                                </div>
                                <p class="text-ellipsis"><span class="name strong">Jonh: </span> Fine items but you could invest more time.</p>
                                <span class="date text-muted small pull-left">Dec 18, 2014, 12:11 pm</span>
                                <a href="#" class="see-more small pull-right">View comment</a>
                            </li>
                            <li class="list-group-item clearfix comment-info">
                                <div class="avatar pull-left mr15">
                                    <img src="img/avatars/4.jpg" alt="avatar">
                                </div>
                                <p class="text-ellipsis"><span class="name strong">Dina Dowsen: </span> Awesome items, really fast delivery.</p>
                                <span class="date text-muted small pull-left">Dec 18, 2014, 8:17 pm</span>
                                <a href="#" class="see-more small pull-right">View comment</a>
                            </li>
                            <li class="list-group-item clearfix comment-warning">
                                <div class="avatar pull-left mr15">
                                    <img src="img/avatars/5.jpg" alt="avatar">
                                </div>
                                <p class="text-ellipsis"><span class="name strong">Matt: </span> I`m not impressed but is fine.</p>
                                <span class="date text-muted small pull-left">Dec 17, 2014, 6:24 pm</span>
                                <a href="#" class="see-more small pull-right">View comment</a>
                            </li>
                            <li class="list-group-item clearfix comment-danger">
                                <div class="avatar pull-left mr15">
                                    <img src="img/avatars/6.jpg" alt="avatar">
                                </div>
                                <p class="text-ellipsis"><span class="name strong">Ben Simpson: </span> This is worst item i ever seen.</p>
                                <span class="date text-muted small pull-left">Dec 16, 2014, 1:20 pm</span>
                                <a href="#" class="see-more small pull-right">View comment</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End .panel -->
            </div>
            <!-- col-lg-4 end here -->
        </div>
        <!-- End .row -->
    </div>
</div>