﻿
@{
    ViewData["Title"] = "Sobre";
}


<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel panelClose panelRefresh">
        <div class="panel-heading">
            <h4 class="panel-title">Quem Somos</h4>
        </div>
        <div class="panel-body">
            <h3>Sobre Nós</h3>
        </div>
    </div>
</div>


