﻿
<div class=" panel panel-info">
    <div class="panel panel-heading"><h4>Estado dos Pacientes</h4></div>
    <div class="panel panel-body">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <vc:estado-critico></vc:estado-critico>
        </div>


        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <vc:estado-estavel></vc:estado-estavel>
        </div>


        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <vc:estado-grave></vc:estado-grave>
        </div>


        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <vc:estado-observacao-view-components></vc:estado-observacao-view-components>

        </div>
    </div>
</div>