﻿ <!-- Javascripts -->
<!-- Load pace first -->
<script src="~/plugins/core/pace/pace.min.js"></script>
<!-- Important javascript libs(put in all pages) -->
@*<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>
    window.jQuery || document.write('<script src="js/libs/jquery-2.1.1.min.js">\x3C/script>')
</script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>
    window.jQuery || document.write('<script src="js/libs/jquery-ui-1.10.4.min.js">\x3C/script>')
</script>*@

<script src="~/js/libs/jquery-2.1.1.min.js"></script>

<script src="~/js/libs/jquery-ui-1.10.4.min.js"></script>

<!--[if lt IE 9]>
  <script type="text/javascript" src="js/libs/excanvas.min.js"></script>
  <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <script type="text/javascript" src="js/libs/respond.min.js"></script>
<![endif]-->
<!-- Bootstrap plugins -->

<script src="~/bundle/core.min.js"></script>

<!-- Other plugins ( load only nessesary plugins for every page) -->

<script src="~/js/libs/date.js"></script>
<script src="~/bundle/jQueryFlot.min.js"></script>
<script src="~/bundle/core.dashboard.min.js"></script>


@* ==================================================================== *@

<script src="~/plugins/misc/vectormaps/jquery-jvectormap-1.2.2.min.js"></script>
<script src="~/plugins/misc/vectormaps/maps/jquery-jvectormap-world-mill-en.js"></script>
<script src="~/plugins/misc/countTo/jquery.countTo.js"></script>
<script src="~/js/jquery.dynamic.js"></script>
<script src="~/js/main.js"></script>
<script src="~/js/pages/dashboard.js"></script>


