﻿@model Cooperchip.ITDeveloper.Domain.Models.Paciente

    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Nome)</dt>
        <dd>@Html.DisplayFor(model => model.Nome)</dd>
        <dt>@Html.DisplayNameFor(model => model.DataNascimento)</dt>
        <dd>@Html.DisplayFor(model => model.DataNascimento)</dd>
        <dt>@Html.DisplayNameFor(model => model.DataInternacao)</dt>
        <dd>@Html.DisplayFor(model => model.DataInternacao)</dd>
        <dt>@Html.DisplayNameFor(model => model.Email)</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>
        <dt>@Html.DisplayNameFor(model => model.Ativo)</dt>
        <dd>@Html.DisplayFor(model => model.Ativo)</dd>
        <dt>@Html.DisplayNameFor(model => model.Cpf)</dt>
        <dd>@Html.DisplayFor(model => model.Cpf)</dd>
        <dt>@Html.DisplayNameFor(model => model.TipoPaciente)</dt>
        <dd>@Html.DisplayFor(model => model.TipoPaciente)</dd>
        <dt>@Html.DisplayNameFor(model => model.Sexo)</dt>
        <dd>@Html.DisplayFor(model => model.Sexo)</dd>
        <dt>@Html.DisplayNameFor(model => model.EstadoPaciente.Descricao)</dt>
        <dd>@Html.DisplayFor(model => model.EstadoPaciente.Descricao)</dd>
        <dt>@Html.DisplayNameFor(model => model.Rg)</dt>
        <dd>@Html.DisplayFor(model => model.Rg)</dd>
        <dt>@Html.DisplayNameFor(model => model.RgOrgao)</dt>
        <dd>@Html.DisplayFor(model => model.RgOrgao)</dd>
        <dt>@Html.DisplayNameFor(model => model.RgDataEmissao)</dt>
        <dd>
            @Html.DisplayFor(model => model.RgDataEmissao)
        </dd>
    </dl>