﻿@using Cooperchip.ITDeveloper.Domain.Enums
@model Cooperchip.ITDeveloper.Domain.Models.Paciente

<div class="form-group">
    <label asp-for="Nome" class="control-label"></label>
    <input asp-for="Nome" class="form-control" />
    <span asp-validation-for="Nome" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="DataNascimento" class="control-label"></label>
    <input asp-for="DataNascimento" class="form-control" />
    <span asp-validation-for="DataNascimento" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="DataInternacao" class="control-label"></label>
    <input asp-for="DataInternacao" class="form-control" />
    <span asp-validation-for="DataInternacao" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Email" class="control-label"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group">
    <div class="checkbox">
        <label>
            <input asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
        </label>
    </div>
</div>
<div class="form-group">
    <label asp-for="Cpf" class="control-label"></label>
    <input asp-for="Cpf" class="form-control" />
    <span asp-validation-for="Cpf" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="TipoPaciente" class="control-label"></label>
    <select asp-for="TipoPaciente" asp-items="Html.GetEnumSelectList<TipoPaciente>()" class="form-control"></select>
    <span asp-validation-for="TipoPaciente" class="text-danger"></span>
</div>

@*<div class="form-group">
        <label asp-for="Sexo" class="control-label"></label>
        <select asp-for="Sexo" class="form-control"></select>
        <span asp-validation-for="Sexo" class="text-danger"></span>
    </div>*@

<div class="form-group">
    <label asp-for="Sexo" class="control-label"></label>
    <select asp-for="Sexo" asp-items="Html.GetEnumSelectList<Sexo>();" class="form-control">
        <option></option>
    </select>
    <span asp-validation-for="Sexo" class="text-danger"></span>
</div>


<div class="form-group">
    <label asp-for="EstadoPacienteId" class="control-label"></label>
    <select asp-for="EstadoPacienteId" asp-items="@ViewBag.EstadoPaciente" class="form-control">
        <option></option>
    </select>
    <span asp-validation-for="EstadoPacienteId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Rg" class="control-label"></label>
    <input asp-for="Rg" class="form-control" />
    <span asp-validation-for="Rg" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="RgOrgao" class="control-label"></label>
    <input asp-for="RgOrgao" class="form-control" />
    <span asp-validation-for="RgOrgao" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="RgDataEmissao" class="control-label"></label>
    <input asp-for="RgDataEmissao" class="form-control" />
    <span asp-validation-for="RgDataEmissao" class="text-danger"></span>
</div>
