﻿@model Cooperchip.ITDeveloper.Domain.Models.Paciente

@{
    ViewData["Title"] = "Exclusão de Pacientes";
}

<div class="row">
    <div class="panel panel-heading">
        <h3>Tem certeza que deseja excluir esse registro?</h3>
    </div>

    <div class="panel panel-body">
        <div>
            <partial name="_delete_details" />
        </div>
        <form asp-controller="Paciente" asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Excluir Paciente" class="btn btn-danger" /> |
            <a asp-controller="Paciente" asp-action="Index" class="btn btn-default">Voltar a lista</a>
        </form>
    </div>
</div>

