﻿@model Cooperchip.ITDeveloper.Domain.Models.Paciente

@{
    ViewData["Title"] = "Detalhes de Paciente";
}


<div class="row">
    <div class="panel panel-heading">
        <h3>Detalhes de Pacientes</h3>
    </div>

    <div class="panel panel-body">

        <div>
            <h4>Paciente</h4>
            <hr />
            
            <partial name="_delete_details" />

        </div>
        <div>
            <a asp-controller="Paciente" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a> |
            <a asp-controller="Paciente" asp-action="Index" class="btn btn-default">Voltar a lista</a>
        </div>
    </div>
</div>
