﻿@model Cooperchip.ITDeveloper.Domain.Models.Paciente

@{
    ViewData["Title"] = "Editar Paciente";
}

<div class="row">
    <div class="panel panel-heading">
        <h3>Editar Paciente</h3>
    </div>

    <div class="panel panel-body">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <partial name="_edit_create" />
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <input type="submit" value="Salvar Paciente" class="btn btn-success" />
                    <a asp-controller="Paciente" asp-action="Index" class="btn btn-default">Voltar a lista</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
