﻿@model IEnumerable<Cooperchip.ITDeveloper.Domain.Models.Paciente>

@{
    ViewData["Title"] = "Lista de Pacientes";
}

   

<partial name="PartialViews/_estado_paciente" />

    <div class="panel panel-default panel-controls">
        <div class="panel panel-heading">
            <h3>Lista de Pacientes</h3>
        </div>

        <div class="panel panel-body">
            <p>
                <a asp-controller="Paciente" asp-action="Create" class="btn btn-info"><span class="fa fa-plus-circle"></span>&nbsp;&nbsp; Paciente</a>
            </p>


            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DataNascimento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DataInternacao)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ativo)
                        </th>
                        @*<th>
            @Html.DisplayNameFor(model => model.Cpf)
        </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.TipoPaciente)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Sexo)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.EstadoPaciente.Descricao)
                        </th>

                        @*<th>
            @Html.DisplayNameFor(model => model.Rg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RgOrgao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RgDataEmissao)
        </th>*@
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataNascimento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataInternacao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ativo)
                        </td>
                        @*<td>
            @Html.DisplayFor(modelItem => item.Cpf)
        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoPaciente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sexo)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.EstadoPaciente.Descricao )
                        </td>
                        @*<td>
            @Html.DisplayFor(modelItem => item.Rg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RgOrgao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RgDataEmissao)
        </td>*@
                        <td>
                            <a title="Editar do Paciente" asp-controller="Paciente" asp-action="Edit" asp-route-id="@item.Id"><span class="fa fa-pencil-square fa-2x"></span></a>
                            <a title="Detalhes do Paciente" asp-controller="Paciente" asp-action="Details" asp-route-id="@item.Id"><span class="fa fa-search fa-2x"></span></a>
                            <a title="Excluir Paciente" asp-controller="Paciente" asp-action="Delete" asp-route-id="@item.Id"><span class="fa fa-trash fa-2x"></span></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


