﻿@model Cooperchip.ITDeveloper.Mvc.ViewModels.CarrinhoViewModel

@{
    ViewData["Title"] = "Carrinho de Compras";
}

<div class="row">
    
    <div class="panel panel-heading">
        <h3>Carrinho de Compras</h3>
    </div>
    <div class="panel panel-body">
        <table class="table table-hover">
            <caption>Produtos no Carrinho</caption>
            <thead>
                <tr>
                    <th>Produtos</th>
                    <th>Valor</th>
                    <th>Estoque</th>
                    <th>Validade</th>
                    <th>Tem em Estoque</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var prod in Model.Produtos)
                {
                    <tr>
                        <td>@prod.Nome</td>
                        <td>@prod.Valor</td>
                        <td>@prod.Estoque</td>
                        <td>@prod.Validade</td>
                        <td>@prod.TemEmEstoque</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td><strong>Total: </strong></td>
                    <td>@Model.TotalCarrinho</td>
                </tr>
            </tfoot>
        </table>
        <h3>
            @Model.Mensagem
        </h3>
    </div>

</div>
