﻿
@await Html.PartialAsync("PartialViews/_Layout_original")
@* ACIMA O _LAYOUT.CSHTML DEFAULT *@

<!doctype html>
<!--[if lt IE 8]><html class="no-js lt-ie8"> <![endif]-->
<html class="no-js">

@await Html.PartialAsync("PartialViews/_head");

<body>
    <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    @await Html.PartialAsync("PartialViews/_navbar")

    <!-- #wrapper -->
    <div id="wrapper">
        <!-- .page-sidebar -->
        <aside id="sidebar" class="page-sidebar hidden-md hidden-sm hidden-xs">
            <!-- Start .sidebar-inner -->
            <div class="sidebar-inner">
                <!-- Start .sidebar-scrollarea -->
                <div class="sidebar-scrollarea">

                    @await Html.PartialAsync("PartialViews/_profile_left_sidebar")

                    <div class="sidebar-panel">
                        <h5 class="sidebar-panel-title">Navigation</h5>
                    </div>
                    <!-- / .sidebar-panel -->
                    <!-- .side-nav -->
                    <div class="side-nav">
                        <ul class="nav">

                            @* LIs com os lefts menus *@
                            @await Html.PartialAsync("PartialViews/_li_menu_left")

                        </ul>
                    </div>
                    <!-- / side-nav -->

                    @await Html.PartialAsync("PartialViews/_menu_inferior_left")
                </div>
                <!-- End .sidebar-scrollarea -->
            </div>


            <!-- End .sidebar-inner -->
        </aside>
        <!-- / page-sidebar -->

        @await Html.PartialAsync("PartialViews/_rigthsidebar")


        <!-- .page-content -->
        <div class="page-content sidebar-page right-sidebar-page clearfix">
            <!-- .page-content-wrapper -->
            <div class="page-content-wrapper">
                <div class="page-content-inner">

                    @await Html.PartialAsync("PartialViews/_sub_navbar")

                    @RenderBody()

                </div>
                <!-- / .page-content-inner -->
            </div>
            <!-- / page-content-wrapper -->
        </div>
        <!-- / page-content -->


    </div>
    <!-- / #wrapper -->


    @await Html.PartialAsync("PartialViews/_footer")

    <!-- Back to top -->
    <div id="back-to-top">
        <a href="#">Voltar para o Topo</a>
    </div>

    @await Html.PartialAsync("PartialViews/_scripts")

    @RenderSection("scripts", required: false)

</body>
</html>